body {
    /* box-sizing: border-box; */
    background: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h6,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    font-family: raleway;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

    @media screen and (max-width: 767px) {
        width: 480px;
    }

        @media screen and (min-width: 768px) {
            width: 768px;
        }
                 @media screen and (min-width: 1148px) {
                     width: 1148px;
                 }
}

@each $type in feature,
team,
projects,
clients {
    .section-#{$type} {
        padding-top: 94px;
        padding-bottom: 94px;
        @media screen and (max-width:1147px) {
                padding-top: 60px;
        
            }
    }
}

@each $name in feature,
team,
projects,
clients {
    .section-#{$name}__title {
        margin-top: 0;
        font-weight: 700;
        padding-top: 0px;
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.section-feature__title--hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

// .section-feature__title {
//     margin-top: 0;
//     font-weight: 700;
//     padding-top: 0px;
//     margin-bottom: 30px;
// font-size: 36px;
// line-height: 1.17;
// text-align: center;
// letter-spacing: 0.03em;
// }

// .section-projects__title {
//     margin-top: 0;
//     font-weight: 700;
//     padding-top: 0px;
//     margin-bottom: 30px;
// font-size: 36px;
// line-height: 1.17;
// text-align: center;
// letter-spacing: 0.03em;
// }

// .section-team__title {
//     margin-top: 0;
//     font-weight: 700;
//     padding-top: 0px;
//     margin-bottom: 30px;
// font-size: 36px;
// line-height: 1.17;
// text-align: center;
// letter-spacing: 0.03em;
// }

// .section-clients__title {
//     margin-top: 0;
//     font-weight: 700;
//     padding-top: 0px;
//     margin-bottom: 30px;
// font-size: 36px;
// line-height: 1.17;
// text-align: center;
// letter-spacing: 0.03em;
// }

// .section-feature {
//         padding-top: 94px;
//         padding-bottom: 94px;
//         }

// .section-team {
//         padding-top: 94px;
//         padding-bottom: 94px;
//         }

// .section-projects {
//         padding-top: 94px;
//         padding-bottom: 94px;
//         } 

// .section-clients {
//         padding-top: 94px;
//         padding-bottom: 0px;
//         }