
:root {
    --hero-gradient: #C4C4C4;
    --primary-text-color:#212121;
    --primary-background-color:#FFFFFF;
    --title-text-color:#757575; 
    --primary-title-color:#2196F3; 
    --primary-bcg-hero:#2F303A;
    --primary-button-text:#FFFFFF;
    --primary-studio-title: #000000; 
    --header-border: #ECECEC;
    --header-btn-active: #188CE8;
    --header-bkg-title: #F5F4FA;
    --project-border-line: #EEEEEE;
    --svg-clients-brd: #AFB1B8;
}

