.section-feature__list {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    gap: 30px;
    max-width: 1170px;
    min-width: 480px;

    @media screen and (max-width: 1147px) {
        flex-wrap: wrap;
        justify-content: center;
        
    }
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            margin: 15px;
            justify-content: center;
            margin-left: 0;
            padding-left: 0;
        }
}

.section-feature__item {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.section-feature__text {
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.section-feature__style {
    width: 270px;

    @media screen and (max-width: 1147px) {
        width: 354px;

    }
         @media screen and (max-width: 767px) {
             max-width: 450px;
         }

    &::before {
        display: block;
        content: "";
        height: 120px;
        background-size: contain;
        margin-bottom: 30px;
        
            
    }
}

.ftr-antenna {
    background-image: url('/images/antenna.svg');
    background-size: auto;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--header-bkg-title);
    margin-bottom: 120px;
}
.ftr-clock {
    background-image: url('/images/clock.svg');
    background-size: auto;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--header-bkg-title);
    margin-bottom: 120px;
}
.ftr-monitor {
    background-image: url('/images/monitor.svg');
    background-size: auto;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--header-bkg-title);
    margin-bottom: 120px;
}
.ftr-spaceman {
    background-image: url('/images/spaceman.svg');
    background-size: auto;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--header-bkg-title);
    margin-bottom: 120px;
}

// @each $sense in antenna, clock, monitor, spaceman {
//     .ftr-#{$sense}::before {
//         background-image: url('/images/$sense.svg');
//        background-size: auto;
//     }
// }

// .ftr-antenna::before {
//     background-image: url(../images/antenna.svg);
//     background-size: auto;
// }

// .ftr-clock::before {
//         background-image: url(../images/clock.svg);
//         background-size: auto;
// }

// .ftr-monitor::before {

//     background-image: url(../images/monitor.svg);
//     background-size: auto;
// }

// .ftr-spaceman::before {

//     background-image: url(../images/astronaut.svg);
//     background-size: auto;
// }