.page-footer {
    display: inline-block;
    background-color: var(--primary-bcg-hero);
    padding: 60px 0;
    margin-top: 94px;
    width: 100%;

    @media screen and (max-width:1147px) {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0px;
    }


    &__contacts {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    &__socials {
        display: flex;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-button-text);
    }
}

.footer-container {
    display: flex;
    align-items: baseline;
    
    @media screen and (max-width: 1147px) {
            flex-direction: wrap;
        }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    
}
.footer-container__wrap, .site-contacts__contact, .page-footer__socials {
text-align: none;

@media screen and (max-width: 1147px) {
    text-align: center;
}
}

.subscription {

}

.studio-footer {
    color: var(--primary-background-color);
}

.add-footer {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--primary-background-color);
}

.footer-adres__style {
    margin-top: 20px;
}

.social-container {
    
    align-items: baseline;
    margin-left: 70px;
    margin-top: 0px;

    @media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-left: 0;
        justify-content: center;
    }
}

.footer-social__label {
    fill: var(--primary-background-color);
}

.footer-social__list {
    list-style: none;
    display: flex;
    margin: 20px 0 0 0;
    padding: 0 0 0 0;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-social__links {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: var(--primary-title-color);
    }
}

.footer-social__item {
    margin-right: 10px;


    &:not(:last-child) {
        margin-right: 10px;
    }
}

.email__box {
    margin-right: 12px;
}

.footer-form {
    display: flex;
    width: 358px;
    height: 50px;
    left: 815px;
    margin-top: 0px;
    padding: 15px 15px 15px 15px;
    background: #2F303A;
    color: var(--primary-button-text);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;

    @media screen and (max-width: 1147px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
        @media screen and (max-width: 767px) {
            width: 450px;
            margin-bottom: 20px;
            
        }
}

.spam-container {
    
    align-items: baseline;
    margin-left: 93px;
    margin-top: 0px;

@media screen and (max-width: 767px) {
        margin-top: 60px;
        margin-left: auto;
        
    }

    &__box {
        list-style: none;
        display: flex;
        padding: 0 0 0 0;
        margin-bottom: 0;

        @media screen and (max-width: 1147px) {
            flex-direction: column;
            margin-bottom: 20px;
        }

              
    }

    &__title {
        text-transform: uppercase;
        color: var(--primary-button-text);
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            
        }
    }
}