.header-div {
    display: flex;
    align-items: center;
}

.page-header {
    background-color: var(--primary-background-color);
    border-bottom: 1px solid var(--header-border);

&__nav {
    display: flex;
    align-items: center;
}

&__burger {
    fill: var(--primary-text-color);
    background-color: var(--primary-background-color);

    @media (min-width: 768px) {
        display: none;
    }
}
}

.page__ingredient {
    color: var(--primary-title-color);
}

.studio-header {
    color: var(--primary-studio-title);
}

.site-nav {
    margin-left: 94px;
    display: flex;
}

.site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;   
}

.site-nav__title {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--primary-text-color);  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&--current {
    color: var(--primary-title-color);
    position: relative;
}

&--current::after {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: currentColor;
    border-radius: 2px;
}

&:hover,
&:focus {
    color: var(--primary-title-color);
} 
}





