.hero {
    text-align: center;
    background: var(--primary-bcg-hero);
    padding: 200px 0;
    max-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;


    &__container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        /* outline: 2px solid tomato;   */
    }

    &__box {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/img.jpg);
        background-size: 100%;
        background-position: center;
        max-width: 1600px;
        height: 600px;
        margin-bottom: auto;
        background-repeat: no-repeat;
    }
}


.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-button-text);
    width: 700px;
    margin-left: auto;
    margin-right: auto;


    &--hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
}

.hero__link {
    cursor: pointer;
    background-color: var(--primary-title-color);
    text-align: center;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:active {
        background: var(--header-btn-active)
    }

    &:hover,
    &:focus {
        color: var(--header-bkg-title);
        background-color: var(--header-btn-active);
    }
}