.project {
    padding-top: 0;
}


.section-projects {
    @media screen and (max-width:1148px) {
            display: none;
        }
}
.section-projects__list {
    display: flex;
    position: relative;

}

.section-projects__label {
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
color: var(--primary-background-color);
background: rgba(47, 48, 58, 0.8);
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
}

.section-projects__item {
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0px;
    position: relative;
    margin-right: 30px;
    justify-content: center;
  
    
&:last-child {
    margin-right: 0px;
}
}
