.section-team {
min-width: 480px;
    &__background {
        background-color: var(--primary-background-color);
        padding-top: 33px;
        padding-bottom: 33px;
        text-align: center;
    }

    &__field {
        background-color: var(--header-bkg-title);
    }

    &__list {
        display: flex;
        gap: 30px;
        justify-content: center;
        width: 100%;

        @media screen and (max-width:1148px) {
                flex-wrap: wrap;
                font-size: 28px;
            }
    }

    &__position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    &__socials {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-top: 16px;
    }

    &__user {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
    }
}

.section-team__items {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


    &:not(:last-child) {
        margin-right: 0px;
    }
}

.section-team__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: var(--svg-clients-brd);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--primary-background-color);
        background-color: var(--primary-title-color);
    }
}


.section-team__social {
    margin-right: 10px;


    &:not(:last-child) {
        margin-left: 10px;
    }
}